.page-container
    table.my-table
        thead
        caption Флаги (новый плеер)
            tr(md-colors={background: 'primary-400'})
                th Наименование
                th Описание
                th Теги
                th Действия
                    md-button.md-icon-button(ng-click="open('test-new.html')")
                        md-tooltip Создать новый тест
                        i.material-icons pan_tool

        tbody
            tr
                td.left Флаги(НП) 1
                td аттестационный материал
                td транспорт

                td
                    md-button.md-icon-button.md-fab.md-mini
                        md-tooltip Выбрать
                        i.material-icons add


            tr
                td.left Флаги(НП) 2
                td аттестационный материал
                td транспорт

                td
                    md-button.md-icon-button.md-fab.md-mini
                        md-tooltip Выбрать
                        i.material-icons add
            tr
                td.left Флаги(НП) 3
                td аттестационный материал
                td транспорт

                td
                    md-button.md-icon-button.md-fab.md-mini
                        md-tooltip Выбрать
                        i.material-icons add


            tr
                td.left Флаги(НП) 4
                td аттестационный материал
                td транспорт

                td
                    md-button.md-icon-button.md-fab.md-mini
                        md-tooltip Выбрать
                        i.material-icons add
            tr
                td.left Флаги(НП) 5
                td аттестационный материал
                td транспорт

                td
                    md-button.md-icon-button.md-fab.md-mini
                        md-tooltip Выбрать
                        i.material-icons add


            tr
                td.left Флаги(НП) 6
                td аттестационный материал
                td транспорт

                td
                    md-button.md-icon-button.md-fab.md-mini
                        md-tooltip Выбрать
                        i.material-icons add
            tr
                td.left Флаги(НП) 7
                td аттестационный материал
                td транспорт

                td
                    md-button.md-icon-button.md-fab.md-mini
                        md-tooltip Выбрать
                        i.material-icons add
            tr
                td.left Флаги(НП) 8
                td аттестационный материал
                td транспорт

                td
                    md-button.md-icon-button.md-fab.md-mini
                        md-tooltip Выбрать
                        i.material-icons add


            tr
                td.left Флаги(НП) 9
                td аттестационный материал
                td транспорт

                td
                    md-button.md-icon-button.md-fab.md-mini
                        md-tooltip Выбрать
                        i.material-icons add
            tr
                td.left Флаги(НП) 10
                td аттестационный материал
                td транспорт

                td
                    md-button.md-icon-button.md-fab.md-mini
                        md-tooltip Выбрать
                        i.material-icons add


            tr
                td.left Флаги(НП) Все 10  заданий
                td аттестационный материал
                td транспорт

                td
                    md-button.md-icon-button.md-fab.md-mini
                        md-tooltip Выбрать
                        i.material-icons add
            tr
                td.left Флаги(НП) 3 из 10 рандомно
                td аттестационный материал
                td транспорт

                td
                    md-button.md-icon-button.md-fab.md-mini
                        md-tooltip Выбрать
                        i.material-icons add