.page-container
    table.my-table
        thead
            tr(md-colors={background: 'primary-400'})
                th Наименование
                th Описание
                th Теги
                th Действия
                    md-button.md-icon-button(ng-click="open('test-new.html')")
                        md-tooltip Создать новый тест
                        i.material-icons add

        tbody
            tr
                td.left
                    i.material-icons.color_grey folder
                    span Железнодорожный транспорт
                td тест
                td транспорт

                td
                    md-button.md-icon-button.md-fab.md-mini
                        md-tooltip Выбрать
                        i.material-icons add

            tr
                td.left
                    i.material-icons.color_grey folder
                    span Дорожное хозяйство
                td тест
                td хозяйство; дорога;

                td
                    md-button.md-icon-button.md-fab.md-mini
                        md-tooltip Выбрать
                        i.material-icons add

            tr
                td.left
                    i.material-icons.color_grey folder
                    span Морской и речной транспорт
                td аттестационный материал
                td транспорт; море;  река;

                td
                    md-button.md-icon-button.md-fab.md-mini
                        md-tooltip Выбрать
                        i.material-icons add

            tr
                td.left
                    i.material-icons.color_grey folder
                    span Воздушный транспорт
                td аттестационный материал
                td транспорт; воздух;

                td
                    md-button.md-icon-button.md-fab.md-mini
                        md-tooltip Выбрать
                        i.material-icons add

            tr
                td.left
                    i.material-icons.color_grey folder
                    span ЗУН КУМ (Все типы тренингов кроме флагов)
                td аттестационный материал
                td транспорт; воздух;

                td
                    md-button.md-icon-button.md-fab.md-mini
                        md-tooltip Выбрать
                        i.material-icons add

            tr
                td.left
                    i.material-icons.color_grey folder
                    span Флаги (новый плеер)
                td аттестационный материал
                td транспорт; воздух;

                td
                    md-button.md-icon-button.md-fab.md-mini
                        md-tooltip Выбрать
                        i.material-icons add

            tr
                td.left
                    i.material-icons.color_grey folder
                    span Тестовый билет (Автодор утв)
                td аттестационный материал
                td транспорт; воздух;

                td
                    md-button.md-icon-button.md-fab.md-mini
                        md-tooltip Выбрать
                        i.material-icons add

            tr
                td.left
                    i.material-icons.color_grey folder
                    span RC 2.0 Флаги
                td аттестационный материал
                td транспорт; воздух;

                td
                    md-button.md-icon-button.md-fab.md-mini
                        md-tooltip Выбрать
                        i.material-icons add

            tr
                td.left
                    i.material-icons.color_grey folder
                    span ТЕСТ
                td аттестационный материал
                td транспорт; воздух;

                td
                    md-button.md-icon-button.md-fab.md-mini
                        md-tooltip Выбрать
                        i.material-icons add