.page-container
    table.my-table
        thead
        caption RC 2.0 Флаги
            tr(md-colors={background: 'primary-400'})
                th Наименование
                th Описание
                th Теги
                th Действия
                    md-button.md-icon-button(ng-click="open('test-new.html')")
                        md-tooltip Создать новый тест
                        i.material-icons pan_tool

        tbody
            tr
                td.left КПП
                td аттестационный материал
                td транспорт

                td
                    md-button.md-icon-button.md-fab.md-mini
                        md-tooltip Выбрать
                        i.material-icons add


            tr
                td.left КПП Грузовое
                td аттестационный материал
                td транспорт

                td
                    md-button.md-icon-button.md-fab.md-mini
                        md-tooltip Выбрать
                        i.material-icons add
            tr
                td.left Вокзал. Интерьер
                td аттестационный материал
                td транспорт

                td
                    md-button.md-icon-button.md-fab.md-mini
                        md-tooltip Выбрать
                        i.material-icons add


            tr
                td.left Вагон хоппер
                td аттестационный материал
                td транспорт

                td
                    md-button.md-icon-button.md-fab.md-mini
                        md-tooltip Выбрать
                        i.material-icons add
            tr
                td.left Вагон купейный
                td аттестационный материал
                td транспорт

                td
                    md-button.md-icon-button.md-fab.md-mini
                        md-tooltip Выбрать
                        i.material-icons add


            tr
                td.left Высокоскоростной перегон
                td аттестационный материал
                td транспорт

                td
                    md-button.md-icon-button.md-fab.md-mini
                        md-tooltip Выбрать
                        i.material-icons add
            tr
                td.left Вокзал. Экстерьер
                td аттестационный материал
                td транспорт

                td
                    md-button.md-icon-button.md-fab.md-mini
                        md-tooltip Выбрать
                        i.material-icons add
            tr
                td.left Грузовая станция
                td аттестационный материал
                td транспорт

                td
                    md-button.md-icon-button.md-fab.md-mini
                        md-tooltip Выбрать
                        i.material-icons add


            tr
                td.left Детальная часть вокзала
                td аттестационный материал
                td транспорт

                td
                    md-button.md-icon-button.md-fab.md-mini
                        md-tooltip Выбрать
                        i.material-icons add
            tr
                td.left Железнодорожная станция
                td аттестационный материал
                td транспорт

                td
                    md-button.md-icon-button.md-fab.md-mini
                        md-tooltip Выбрать
                        i.material-icons add


            tr
                td.left КПП Пассажирское
                td аттестационный материал
                td транспорт

                td
                    md-button.md-icon-button.md-fab.md-mini
                        md-tooltip Выбрать
                        i.material-icons add
