md-tabs(md-dynamic-height md-border-bottom)
    md-tab(label="Главное")
        md-content.md-padding.main
            span.main__title Текст задания:
            input(type="text" size="170" value="Указатель с наименованием какого города расположен на лобовом стекле автобуса в центре изображения?")
            span.main__title Расположение:
            input(type="text" size="170" value="Дорожное хозяйство")
            span.main-assessmentmain.main__title Оценивание
                md-radio-group.main-assessmentmain__list(ng-model="data.group1")
                    md-radio-button.md-primary.main-assessmentmain__list-item(value="answer1") Все или ничего
                    md-radio-button.main-assessmentmain__list-item(value="answer2") Суммирование ответов
                    md-radio-button.main-assessmentmain__list-item(value="answer3") По шкалам
                    md-radio-button.main-assessmentmain__list-item(value="answer4") Без оценки

            span.main__title Список возможных ответов
    md-tab(label="Дополнительно")
        md-content.md-padding
            h1 zxc
