header.scale-header
    .scale-header__title
        span Шкалы оценивания
        md-icon.material-icons.scale-header__icons linear_scale
    .scale-header__add
        span.scale-header__title Добавить новую шкалу
            md-button.md-icon-button
                i.material-icons add

            md-button.md-icon-button.md-fab.md-mini
                i.material-icons add