.scale-header {
  display: flex;

  justify-content: space-between;
  flex-shrink: 0;

  padding: 10px;

  &__title {
    display: flex;

    align-items: center;

    font-weight: normal;
    font-size: 20px;
  }

  &__close {
    display: flex;

    align-items: center;
  }

  &__icons {
    padding: 5px;
  }
}