.scale-header {
  display: flex;

  justify-content: space-between;
  flex-shrink: 0;

  //background-color: rgba(32, 159, 227, 0.73);

  padding: 5px;

  box-shadow: rgb(148, 148, 148);

  user-select: none;

  &__title {
    display: flex;

    align-items: center;

    //color: #edf6ff;

    font-weight: normal;
    font-size: 20px;
  }

  &__close {
    display: flex;

    align-items: center;
  }

  &__icons {
    padding: 5px;
  }
}