.scale-header {
  display: flex;
  flex-shrink: 0;

  justify-content: space-between;

  background-color: #9efff8;

  padding: 5px;
  box-shadow: rgb(148, 148, 148);
  user-select: none;

  &__title {
    display: flex;

    align-items: center;

    color: #686868;
    font-weight: normal;
    font-size: 20px;
  }

  &__close {
    display: flex;

    align-items: center;
  }

  &__icons {
    padding: 5px;
  }

}