header.scale-header
    .scale-header__title
        span Шкалы оценивания
        md-icon.material-icons.scale-header__icons linear_scale
    .scale-header__close
        md-button.md-icon-button
            i.material-icons mode_edit