.page-container.page-container_margined
    .tabs__item
        md-input-container
            input(placeholder='Название')

        md-input-container
            input(placeholder='Размер матрицы')

        md-input-container
            input(placeholder='Количество матриц')

        md-checkbox Выводить подсказки

        md-select(ng-model="size" placeholder='Шкала 1:Внимание')
            md-option(ng-value="1") 5-я Шкала
            md-option(ng-value="2") Аттестация
            md-option(ng-value="3") Практическая часть
            md-option(ng-value="1") Тематическая часть
            md-option(ng-value="2") Теоретическая часть
            md-option(ng-value="3") ПФД
            md-option(ng-value="1") Самооценка
            md-option(ng-value="2") Произвольная память
            md-option(ng-value="1") 5-я Шкала
            md-option(ng-value="2") Аттестация
            md-option(ng-value="3") Практическая часть
            md-option(ng-value="1") Тематическая часть
            md-option(ng-value="2") Теоретическая часть
            md-option(ng-value="3") ПФД
            md-option(ng-value="1") Самооценка
            md-option(ng-value="2") Произвольная память
        md-select(ng-model="size" placeholder='Шкала: Время 1 в баллы')
            md-option(ng-value="1") 5-я Шкала
            md-option(ng-value="2") Аттестация
            md-option(ng-value="3") Практическая часть
            md-option(ng-value="1") Тематическая часть
            md-option(ng-value="2") Теоретическая часть
            md-option(ng-value="3") ПФД
            md-option(ng-value="1") Самооценка
            md-option(ng-value="2") Произвольная память
            md-option(ng-value="1") 5-я Шкала
            md-option(ng-value="2") Аттестация
            md-option(ng-value="3") Практическая часть
            md-option(ng-value="1") Тематическая часть
            md-option(ng-value="2") Теоретическая часть
            md-option(ng-value="3") ПФД
            md-option(ng-value="1") Самооценка
            md-option(ng-value="2") Произвольная память
        md-select(ng-model="size" placeholder='Шкала: Время 2 в баллы')
            md-option(ng-value="1") 5-я Шкала
            md-option(ng-value="2") Аттестация
            md-option(ng-value="3") Практическая часть
            md-option(ng-value="1") Тематическая часть
            md-option(ng-value="2") Теоретическая часть
            md-option(ng-value="3") ПФД
            md-option(ng-value="1") Самооценка
            md-option(ng-value="2") Произвольная память
            md-option(ng-value="1") 5-я Шкала
            md-option(ng-value="2") Аттестация
            md-option(ng-value="3") Практическая часть
            md-option(ng-value="1") Тематическая часть
            md-option(ng-value="2") Теоретическая часть
            md-option(ng-value="3") ПФД
            md-option(ng-value="1") Самооценка
            md-option(ng-value="2") Произвольная память
        md-select(ng-model="size" placeholder='Шкала: Время 3 в баллы')
            md-option(ng-value="1") 5-я Шкала
            md-option(ng-value="2") Аттестация
            md-option(ng-value="3") Практическая часть
            md-option(ng-value="1") Тематическая часть
            md-option(ng-value="2") Теоретическая часть
            md-option(ng-value="3") ПФД
            md-option(ng-value="1") Самооценка
            md-option(ng-value="2") Произвольная память
            md-option(ng-value="1") 5-я Шкала
            md-option(ng-value="2") Аттестация
            md-option(ng-value="3") Практическая часть
            md-option(ng-value="1") Тематическая часть
            md-option(ng-value="2") Теоретическая часть
            md-option(ng-value="3") ПФД
            md-option(ng-value="1") Самооценка
            md-option(ng-value="2") Произвольная память
        md-select(ng-model="size" placeholder='Шкала: Время 4 в баллы')
            md-option(ng-value="1") 5-я Шкала
            md-option(ng-value="2") Аттестация
            md-option(ng-value="3") Практическая часть
            md-option(ng-value="1") Тематическая часть
            md-option(ng-value="2") Теоретическая часть
            md-option(ng-value="3") ПФД
            md-option(ng-value="1") Самооценка
            md-option(ng-value="2") Произвольная память
            md-option(ng-value="1") 5-я Шкала
            md-option(ng-value="2") Аттестация
            md-option(ng-value="3") Практическая часть
            md-option(ng-value="1") Тематическая часть
            md-option(ng-value="2") Теоретическая часть
            md-option(ng-value="3") ПФД
            md-option(ng-value="1") Самооценка
            md-option(ng-value="2") Произвольная память
        md-select(ng-model="size" placeholder='Шкала: Время 5 в баллы')
            md-option(ng-value="1") 5-я Шкала
            md-option(ng-value="2") Аттестация
            md-option(ng-value="3") Практическая часть
            md-option(ng-value="1") Тематическая часть
            md-option(ng-value="2") Теоретическая часть
            md-option(ng-value="3") ПФД
            md-option(ng-value="1") Самооценка
            md-option(ng-value="2") Произвольная память
            md-option(ng-value="1") 5-я Шкала
            md-option(ng-value="2") Аттестация
            md-option(ng-value="3") Практическая часть
            md-option(ng-value="1") Тематическая часть
            md-option(ng-value="2") Теоретическая часть
            md-option(ng-value="3") ПФД
            md-option(ng-value="1") Самооценка
            md-option(ng-value="2") Произвольная память

.tabs__item-buttons
    md-button.md-primary.md-raised.md-warn(ng-click="close()") Отменить
    md-button.md-primary.md-raised(ng-click="close()") Сохранить


