.page-container
    table.my-table
        thead
            tr(md-colors={background: 'primary-400'})
                th(width="5%") №
                th Наименование
                th Описание
                th Время
                th теги
                th Действия

        tbody
            - var x = 0;
                while (x++ < 15)
                    tr
                        td= x + '.'
                        td.left Газоанализаторы
                        td тест поиска лица по видео
                        td 05:00
                        td тест; газ; газоанализатор; видео; лицо;
                        td
                            md-button.md-icon-button
                                i.material-icons edit
                            md-button.md-icon-button
                                i.material-icons delete_forever

            tr
                td

                td

                td
                    span.md-title Создать
                td
                    md-select(ng-model="size" placeholder='Каталог/аттестация')
                        md-option(ng-value="4") Каталог
                        md-option(ng-value="5") Аттестация знаний, умений и навыков
                        md-option(ng-value="6") Аттестация личностных (психофизиологических качеств)
                        md-option(ng-value="6") Аттестация уровня физической подготовки

                td
                    .footer__add
                        md-button.md-fab.md-mini(ng-click="open('attestation-new.html')")
                            md-icon add

                td