md-tab(label="Главное" flex layout="column" )
    .tabs__item
        md-input-container
            input(placeholder='Наименование', value='Газоанализаторы')

        span Каталог/аттестация:
        md-select(ng-model="size")
            md-option(ng-value="0") Воздушный транспорт
            md-option(ng-value="10") Железнодорожный транспорт
            md-option(ng-value="20") Морской транспорт
        md-input-container
            input(placeholder='Примечание')

    table.my-table

        thead
            tr(md-colors={background: 'primary-300'})
                th(width="5%") №
                th Название
                th Тип
                th Ссылка
                th Категория
                th Действия

        tbody
            tr
                td 1
                td.left Газоанализаторы
                td Тест
                td Газоанализаторы
                td Практическая часть
                td
                    md-button.md-icon-button
                        i.material-icons edit
                    md-button.md-icon-button
                        i.material-icons delete_forever

            tr(md-colors={background: 'primary-100'})
                td
                    md-input-container
                        input(placeholder='№')
                td.left
                    md-input-container
                        input(placeholder='Название')
                td
                    md-input-container
                        input(placeholder='Тип')
                td
                    md-input-container
                        input(placeholder='Ссылка')

                td
                    md-input-container
                        input(placeholder='Категория')
                td
                    md-button.md-fab.md-mini
                        md-icon add

    .bottom-sheet-demo.inset(layout="row" layout-sm="column" layout-align="center")
        md-button(flex="100%" class="md-primary md-raised" ng-click="showListBottomSheet()") Добавить тест