.page-container
    md-input-container
        input(placeholder='Наименование', value='5-я шкала оценивания')

    md-input-container
        input(placeholder='Описание', value='5-я шкала оценивания. Подробное описание задания.')

    table.my-table
        caption Оценивание:

        thead
            tr(md-colors={background: 'primary-300'})
                th Наименование
                th Значение
                th Нижняя граница, %
                th Тест пройден
                th Действия
        tbody
            tr
                td.left Очень плохо
                td 0
                td 0
                td
                    md-checkbox
                td
                    md-button.md-icon-button
                        i.material-icons edit
                    md-button.md-icon-button
                        i.material-icons delete_forever

            tr
                td.left Плохо
                td 20
                td 20
                td
                    md-checkbox
                td
                    md-button.md-icon-button
                        i.material-icons edit
                    md-button.md-icon-button
                        i.material-icons delete_forever

            tr
                td.left Удовлетворительно
                td 40
                td 40
                td
                    md-checkbox
                td
                    md-button.md-icon-button
                        i.material-icons edit
                    md-button.md-icon-button
                        i.material-icons delete_forever

            tr
                td.left Хорошо
                td 60
                td 60
                td
                    md-checkbox
                td
                    md-button.md-icon-button
                        i.material-icons edit
                    md-button.md-icon-button
                        i.material-icons delete_forever

            tr
                td.left Отлично
                td 80
                td 80
                td
                    md-checkbox
                td
                    md-button.md-icon-button
                        i.material-icons edit
                    md-button.md-icon-button
                        i.material-icons delete_forever

            tr(md-colors={background: 'primary-100'})
                td.left
                    md-input-container
                        input(placeholder='Наименование')
                td
                    md-input-container
                        input(placeholder='Значение')
                td
                    md-select(ng-model="size")
                        md-option(ng-value="0") 0
                        md-option(ng-value="10") 10
                        md-option(ng-value="20") 20
                        md-option(ng-value="30") 30
                        md-option(ng-value="40") 40
                        md-option(ng-value="50") 50
                        md-option(ng-value="60") 60
                        md-option(ng-value="70") 70
                        md-option(ng-value="80") 80
                        md-option(ng-value="90") 90
                        md-option(ng-value="100") 100

                td
                    md-checkbox
                td
                    md-button.md-fab.md-mini
                        md-tooltip Добавить оценку
                        md-icon add
    .scale-edit-list__actions
        md-button.md-raised.md-warn(ng-click="close()") Отменить
        md-button.md-raised.md-primary(ng-click="close()") Сохранить