.page-container
    md-input-container
        input(placeholder='Наименование', value='5-я шкала оценивания')

    md-input-container
        input(placeholder='Описание', value='5-я шкала оценивания. Подробное описание задания.')

    table.my-table
        caption.my-table__caption Оценивание:

        thead.my-table__thead
            tr
                th Наименование
                th Значение
                th Нижняя граница, %
                th Тест пройден
                th Добавить/удалить оценку

        tbody.my-table__tbody
            tr.my-table__row
                td.my-table__cell Очень плохо
                td.my-table__cell 0
                td.my-table__cell 0
                td.my-table__cell
                    md-checkbox.md-warn
                td
                    md-button.md-icon-button
                        i.material-icons delete_forever

            tr.my-table__row
                td.my-table__cell Плохо
                td.my-table__cell 20
                td.my-table__cell 20
                td.my-table__cell
                    md-checkbox.md-warn
                td
                    md-button.md-icon-button
                        i.material-icons delete_forever

            tr.my-table__row
                td.my-table__cell Удовлетворительно
                td.my-table__cell 40
                td.my-table__cell 40
                td.my-table__cell
                    md-checkbox.md-warn

                td
                    md-button.md-icon-button
                        i.material-icons delete_forever

            tr.my-table__row
                td.my-table__cell Хорошо
                td.my-table__cell 60
                td.my-table__cell 60
                td.my-table__cell
                    md-checkbox.md-warn
                td
                    md-button.md-icon-button
                        i.material-icons delete_forever

            tr.my-table__row
                td.my-table__cell Отлично
                td.my-table__cell 80
                td.my-table__cell 80
                td.my-table__cell
                    md-checkbox.md-warn
                td
                    md-button.md-icon-button
                        i.material-icons delete_forever

            tr
                td
                    md-input-container
                        input(placeholder='Наименование')
                td
                    md-input-container
                        input(placeholder='Значение')
                td
                    md-select(ng-model="size")
                        md-option 0
                        md-option 10
                        md-option 20
                        md-option 30
                        md-option 40
                        md-option 50
                        md-option 60
                        md-option 70
                        md-option 80
                        md-option 90
                        md-option 100

                td.my-table__cell
                    md-checkbox.md-warn
                td
                    md-button.md-icon-button
                        i.material-icons add
    .scale-edit-list__tabs
        md-button.md-primary.md-raised.md-warn(flex="20" ng-click="showListBottomSheet()") Отменить
        md-button.md-primary.md-raised(flex="20" ng-click="showListBottomSheet()") Сохранить