.scale-edit-list {
  display: flex;
  flex-direction: column;

  overflow-y: auto;

  color: #404040;

  padding: 5px;
  box-shadow: #9E9E9E;

  &__table {
    width: 100%;

    user-select: none;
    border-color: #e1e1e1;
    box-shadow: #b5b5b5;

    padding: 10px 5px 10px 5px;
  }

  &__table-title {
    padding: 20px 0 20px 0;

    font-weight: bold;
  }
  
  &__thead {
    background-color: #fcd6d6;
  }
  
  &__tbody {
    background-color: #EAFDFF;
    overflow-y: auto;
  }

  &__tabs {
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;

    padding: 10px 0 10px 0;
  }

  &__cell{
    padding-top: 10px;

    text-align: center;
    vertical-align: middle;
  }

  &__thead {
    background-color: rgba(145, 185, 255, 0.67);
  }

  &__tbody {
    background-color: #f9fff9;
  }

  &__row {
    &:hover {
      background-color: rgb(217, 238, 255);
    }
    &:active {
      background-color: rgba(255, 210, 193, 0.67);
    }
  }
}