.scale-edit-list {
  display: flex;
  flex-direction: column;
  height: 100%;

  padding: 10px;

  &__list {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%;

    overflow-y: auto;

    color: #404040;

    padding: 5px;
    box-shadow: #9E9E9E;
  }

  &__table {
    width: 100%;

    user-select: none;
    border-color: #e1e1e1;
    box-shadow: #b5b5b5;

    padding: 50px 10px 50px 10px;
  }

  &__table-title {
    padding: 20px 0 20px 0;

    font-weight: bold;
  }

  &__tabs {
    display: flex;
    justify-content: space-between;
    padding: 50px 0 50px 0;
  }

  .scale-edit-list__cell{
    padding-top: 10px;

    text-align: center;
    vertical-align: middle;
  }

  &__thead {
    background-color: #ffde00;
  }

  &__tbody {
    background-color: rgba(244, 255, 230, 0.65);
  }

  &__row {
    &:hover {
      background-color: #c1f6e4;
    }
    &:active {
      background-color: #ffa191;
    }
  }
}