.file-uploader
    .file-uploader__header.md-headline Загрузка файлов

    .file-uploader__form
        md-button.md-fab.md-mini.md-warn.file-uploader__button(onclick="document.querySelector('.file-uploader__input').click()")
            md-icon.material-icons file_upload
            input.file-uploader__input(type='file')
