.tabs {

  &__item{
    display: flex;

    height: 100%;

    flex-direction: column;
    flex-shrink: 0;

    padding: 10px;
  }
  &__item-buttons{
    display: flex;

    justify-content: space-between;

    padding: 20px 0 20px 0;
  }

}
