.page-container.page-container_margined
    .tabs__item
        md-input-container
            input(placeholder='Название')

        md-select(ng-model="size"  placeholder='Количество вопросов')
            - var x = 0;
            while (x++ <200)
                md-option(ng-value="0")=x

        .frames-type
            .frames-type__list
                span.md-title.tabs__item-title Рамки
                md-radio-group
                    md-radio-button Рубикон
                    md-radio-button SVP
                    md-radio-button Обертон
                    md-radio-button Ceia
                    md-radio-button SmartScan
            .frames-type__list
                span.md-title.tabs__item-title Ручной детектор
                md-radio-group
                    md-radio-button Рубикон
                    md-radio-button SVP
                    md-radio-button Обертон
                    md-radio-button Ceia
                    md-radio-button SmartScan

.tabs__item-buttons
    md-button.md-primary.md-raised.md-warn(ng-click="close()") Отменить
    md-button.md-primary.md-raised(ng-click="close()") Сохранить
