md-tab(label="Главное" flex layout="column" )
    .tabs__item
        md-input-container
            input(placeholder='Наименование', value='Газоанализаторы')

        span Каталог/аттестация:
        md-select(ng-model="size")
            md-option(ng-value="0") Воздушный транспорт
            md-option(ng-value="10") Железнодорожный транспорт
            md-option(ng-value="20") Морской транспорт
        md-input-container
            input(placeholder='Примечание')

    md-button.md-fab.md-mini(ng-click="open('test-folder-list.html')")
        md-tooltip Добавить тест
        md-icon add

    table.my-table

        thead
            tr(md-colors={background: 'primary-300'})
                th(width="5%") №
                th Название
                th Тип
                th Ссылка
                th Категория
                th Действие

        tbody
            tr
                td 1
                td.left Газоанализаторы
                td Тест
                td Газоанализаторы
                td
                    md-select(ng-model="size" placeholder='Категория')
                        md-option(ng-value="4") Практическая
                        md-option(ng-value="5") Тематическая
                        md-option(ng-value="6") Теоретическая
                td
                    md-button.md-icon-button
                        i.material-icons delete_forever