md-tab(label="Оценивание")
    .tabs__item

        span Шкала оценок аттестации:
        md-select(ng-model="size")
            md-option(ng-value="1") 5-я Шкала
            md-option(ng-value="2") Аттестация
            md-option(ng-value="3") Практическая часть
            md-option(ng-value="1") Тематическая часть
            md-option(ng-value="2") Теоретическая часть
            md-option(ng-value="3") ПФД
            md-option(ng-value="1") Самооценка
            md-option(ng-value="2") Произвольная память
            md-option(ng-value="1") 5-я Шкала
            md-option(ng-value="2") Аттестация
            md-option(ng-value="3") Практическая часть
            md-option(ng-value="1") Тематическая часть
            md-option(ng-value="2") Теоретическая часть
            md-option(ng-value="3") ПФД
            md-option(ng-value="1") Самооценка
            md-option(ng-value="2") Произвольная память


        span Шкала оценок теоретической части:
        md-select(ng-model="size")
            md-option(ng-value="1") 5-я Шкала
            md-option(ng-value="2") Аттестация
            md-option(ng-value="3") Практическая часть
            md-option(ng-value="1") Тематическая часть
            md-option(ng-value="2") Теоретическая часть
            md-option(ng-value="3") ПФД
            md-option(ng-value="1") Самооценка
            md-option(ng-value="2") Произвольная память
            md-option(ng-value="1") 5-я Шкала
            md-option(ng-value="2") Аттестация
            md-option(ng-value="3") Практическая часть
            md-option(ng-value="1") Тематическая часть
            md-option(ng-value="2") Теоретическая часть
            md-option(ng-value="3") ПФД
            md-option(ng-value="1") Самооценка
            md-option(ng-value="2") Произвольная память

        span Шкала оценок практической части:
        md-select(ng-model="size")
            md-option(ng-value="1") 5-я Шкала
            md-option(ng-value="2") Аттестация
            md-option(ng-value="3") Практическая часть
            md-option(ng-value="1") Тематическая часть
            md-option(ng-value="2") Теоретическая часть
            md-option(ng-value="3") ПФД
            md-option(ng-value="1") Самооценка
            md-option(ng-value="2") Произвольная память
            md-option(ng-value="1") 5-я Шкала
            md-option(ng-value="2") Аттестация
            md-option(ng-value="3") Практическая часть
            md-option(ng-value="1") Тематическая часть
            md-option(ng-value="2") Теоретическая часть
            md-option(ng-value="3") ПФД
            md-option(ng-value="1") Самооценка
            md-option(ng-value="2") Произвольная память

        span Шкала оценок тематической части:
        md-select(ng-model="size")
            md-option(ng-value="1") 5-я Шкала
            md-option(ng-value="2") Аттестация
            md-option(ng-value="3") Практическая часть
            md-option(ng-value="1") Тематическая часть
            md-option(ng-value="2") Теоретическая часть
            md-option(ng-value="3") ПФД
            md-option(ng-value="1") Самооценка
            md-option(ng-value="2") Произвольная память
            md-option(ng-value="1") 5-я Шкала
            md-option(ng-value="2") Аттестация
            md-option(ng-value="3") Практическая часть
            md-option(ng-value="1") Тематическая часть
            md-option(ng-value="2") Теоретическая часть
            md-option(ng-value="3") ПФД
            md-option(ng-value="1") Самооценка
            md-option(ng-value="2") Произвольная память