mixin my-chips(chips, chipTag)
    .my-chips
        .my-chips__title= chips
            span.my-chips__title-text

            md-chips(ng-model="myItems", placeholder="Добавить")
                md-chip-template= chipTag
                    span {{$chip}}