.my-chips(ng-controller="myChips as ctrl")

    .my-chips__title
        span.my-chips__title-text Варианты ответов:

    md-chips(ng-model="myItems" placeholder="Добавить")
        md-chip-template
            span {{$chip}}