materials-container.materials-container
    table.materials-container__content-table(border='1' cellpadding="5")
        tr.row_green
            th Наименование
            th Тект задания
            th Время
            th Теги

        - var n = 0;
        while n < 50
            - n++;

            tr.hover.active
                td Указатель
                td Указатель с наименованием какого города расположен на лобовом стекле автобуса в центре изображения?
                td 10:00
                td город;автобус;указатель;