.text-questions-list
    table.text-questions-list__table(border="1" cellpadding="5" cellspacing="5")
        thead.text-questions-list__thead
            tr
                th Наименование
                th Время
                th Описание
                th теги
                th Дополнительно

        tbody.text-questions-list__tbody
            - var x = 0;
            while (x++ < 50)
                tr.text-questions-list__item
                    td Что вы можете сказать об автобусе, расположенном на изображении справа?
                    td 10:00
                    td автобус справа
                    td тест; автобус; справа;водитель; вопрос;
                    td Примечение:отсувствует