mixin header(title, icon, hasclose)
    header.header(md-colors={background: 'primary-500'})
        .header__title
            span= title
            md-icon.material-icons.header__icons= icon
        if(hasclose)
            .header__close
                md-button.md-fab.md-mini(ng-click="$ctrl.closeAll()")
                    md-icon close