header.header
    .header__title.md-headline Редактировать задание
        md-icon.material-icons.header__icons bubble_chart
    .header__edit
        md-button.md-icon-button
            md-icon
                i.material-icons create