md-tab(label="Оценивание")
    .tabs__item

        span Шкала оценок аттестации:
        md-select(ng-model="size")
            md-option(ng-value="1") 1
            md-option(ng-value="2") 2
            md-option(ng-value="3") 3

        span Шкала оценок теоретической части:
        md-select(ng-model="size")
            md-option(ng-value="4") 4
            md-option(ng-value="5") 5
            md-option(ng-value="6") 6

        span Шкала оценок практической части:
        md-select(ng-model="size")
            md-option(ng-value="7") 7
            md-option(ng-value="8") 8
            md-option(ng-value="9") 9

        span Шкала оценок тематической части:
        md-select(ng-model="size")
            md-option(ng-value="10") 10
            md-option(ng-value="11") 11
            md-option(ng-value="12") 12