md-tab(label="Главное" flex layout="column" )
    .tabs__item
        md-input-container
            input(placeholder='Наименование')

        span Каталог/аттестация:
        md-select(ng-model="size")
            md-option(ng-value="0") Воздушный транспорт
            md-option(ng-value="10") Железнодорожный транспорт
            md-option(ng-value="20") Морской транспорт
            md-option(ng-value="30") Создать новый каталог (аттестацию)
        md-input-container
            input(placeholder='Примечание')

    table.my-table

        caption Добавить тест
        thead
            tr(md-colors={background: 'primary-300'})
                th(width="5%") №
                th Название
                th Тип
                th Ссылка
                th Категория
                th Выбрать аттестационный материал

        tbody
            tr(md-colors={background: 'primary-100'})
                td
                    md-input-container
                        input(placeholder='№')
                td.left
                    md-input-container
                        input(placeholder='Название')
                td
                    md-input-container
                        input(placeholder='Тип')
                td
                    md-input-container
                        input(placeholder='Ссылка')

                td
                    md-select(ng-model="size")
                        md-option(ng-value="0")
                        md-option(ng-value="1") Практическая часть
                        md-option(ng-value="10") Тематическая часть
                        md-option(ng-value="20") Теоретическая часть

                td
                    md-select(ng-model="size")
                        md-option(ng-value="0") Воздушный транспорт
                        md-option(ng-value="1") Морской транспорт
                        md-option(ng-value="2") Железнодорожный транспорт
                        md-option(ng-value="3") Дорожное хозяйство

    .bottom-sheet-demo.inset(layout="row" layout-sm="column" layout-align="center")
        md-button(flex="100%" class="md-primary md-raised" ng-click="showListBottomSheet()") Добавить тест