.page-container.page-container_margined

    md-input-container
        input(placeholder='Вопрос' type='text')

.tabs__item-buttons
    md-button.md-primary.md-raised.md-warn(ng-click="close()") Отменить
    md-button.md-primary.md-raised(ng-click="close()") Сохранить
