include components/header/header

doctype html
head
    meta(charset="UTF-8")
    meta(name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no")

    title Создание нового билета

    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    link(rel='stylesheet' href='styles.css')

body(ng-app='MyApp', ng-controller="indexController")
    +header('Создать новый билет','add_box', true)
    include components/attestation-new/attestation-new-tabs

    script(src="vendor.js")
    script(src="index.js")