include components/header/header

doctype html
head
    meta(charset="UTF-8")
    meta(name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no")

    title Scale

    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    link(rel='stylesheet' href='styles.css')

body(ng-app='MyApp', ng-controller="indexController")
    +header('Создание нового каталога', 'create_new_folder', true)
    include components/catalog/catalog

    script(src="vendor.js")
    script(src="index.js")