include components/header/header

doctype html
head
    meta(charset="UTF-8")
    meta(name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no")

    title Задания Газоанализаторы

    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    link(rel='stylesheet' href='styles.css')

body(ng-app='MyApp', ng-controller="indexController")
    +header('Создать задание Газоанализторы','add_box', true)

    include components/gas-analyzers/gas-analyzers

    script(src="vendor.js")
    script(src="index.js")
