// общие
html,
body {
  display: flex;
  flex-direction: column;

  height: 100%;
}

// библиотечные
@import "../node_modules/angular-material/angular-material.scss";

// компоненты
@import "components/header/header";
@import "components/text-questions-list/text-questions-list";
@import "components/tabs/tabs";
@import "components/scale-header/scale-header";
@import "components/scale-questions-list/scale-questions-list";
@import "components/scale-edit-list/scale-edit-list";
@import "components/file-uploader/file-uploader";