.file-uploader
    .file-uploader__header.md-headline Загрузить файл

    .file-uploader__form
        md-button.md-fab.md-mini.file-uploader__button(onclick="document.querySelector('.file-uploader__input').click()")
            md-icon.material-icons file_upload
            input.file-uploader__input(type='file')
