.page-container
    table.my-table

        thead
            tr(md-colors={background: 'primary-300'})
                th Наименование
                th Описание
                th теги
                th Дополнительно
                th Действия
                    md-button.md-fab.md-mini
                        md-tooltip Добавить шкалу оценивания
                        md-icon add

        tbody

            - var x = 0;
            while (x++ < 25)

                tr
                    td.left 5-я шкала оценивания
                    td 5-я шкала оценивания. Подробное описание задания.
                    td тест; автобус; справа;водитель; вопрос;
                    td Примечение:отсувствует
                    td
                        md-button.md-icon-button
                            i.material-icons edit
                        md-button.md-icon-button
                            i.material-icons delete_forever
                        md-button.md-icon-button
                            md-tooltip Выбрать
                            i.material-icons add

            tr
                td.left
                    md-input-container
                        input(placeholder='Наименование')
                td
                    md-input-container
                        input(placeholder='Описание')
                td
                    md-input-container
                        input(placeholder='Теги')
                td
                    md-input-container
                        input(placeholder='Дополнительно')
                td
                    .footer__add
                        md-button.md-fab.md-mini
                            md-tooltip Добавить
                            md-icon add