.page-container
    table.scale-questions-list__table(border="1" cellpadding="5" cellspacing="3")

        thead.scale-questions-list__thead
            tr
                th Наименование
                th Описание
                th теги
                th Дополнительно
                th Удалить

        tbody.scale-questions-list__tbody

            tr
                td
                    md-input-container
                        input(placeholder='Наименование')
                td
                    md-input-container
                        input(placeholder='Описание')
                td
                    md-input-container
                        input(placeholder='Теги')
                td
                    md-input-container
                        input(placeholder='Дополнительно')

                td
                    .footer__add
                        md-button.md-fab.md-mini
                            md-icon add

            - var x = 0;
            while (x++ < 25)

                tr.scale-questions-list__table-row

                    td.scale-questions-list__table-cell 5-я шкала оценивания
                    td.scale-questions-list__table-cell 5-я шкала оценивания. Подробное описание задания.
                    td.scale-questions-list__table-cell тест; автобус; справа;водитель; вопрос;
                    td.scale-questions-list__table-cell Примечение:отсувствует
                    td
                        button.md-icon-button.md-button.md-fab.md-mini
                            i.material-icons  delete_forever
            tr
                td
                    md-input-container
                        input(placeholder='Наименование')
                td
                    md-input-container
                        input(placeholder='Описание')
                td
                    md-input-container
                        input(placeholder='Теги')
                td
                    md-input-container
                        input(placeholder='Дополнительно')
                td
                    .footer__add
                        md-button.md-fab.md-mini
                            md-icon add

//эксперимент с футером
//.footer
//    tr
//        td
//            input(placeholder='Наименование')
//        td
//            input(placeholder='Описание')
//        td
//            input(placeholder='Теги')
//        td
//            input(placeholder='Дополнительно' height='2px')
//        .footer__add
//            button.md-icon-button.md-ink-ripple.md-button
//                i.material-icons add