.scale-questions-list
    table.scale-questions-list__table(border="1" cellpadding="5" cellspacing="3")

        thead.scale-questions-list__thead
            tr
                th Наименование
                th Описание
                th теги
                th Дополнительно

        tbody.scale-questions-list__tbody
            - var x = 0;
            while (x++ < 50)
                tr.scale-questions-list__table-row
                    td.scale-questions-list__table-cell 5-я шкала оценивания
                    td.scale-questions-list__table-cell 5-я шкала оценивания. Подробное описание задания.
                    td.scale-questions-list__table-cell тест; автобус; справа;водитель; вопрос;
                    td.scale-questions-list__table-cell Примечение:отсувствует
                tr.scale-questions-list__table-row
                    td.scale-questions-list__table-cell Теоретическая часть
                    td.scale-questions-list__table-cell Теоретическая часть. Подробное описание задания.
                    td.scale-questions-list__table-cell тест; автобус; справа; водитель; вопрос;
                    td.scale-questions-list__table-cell Примечение:отсувствует
                tr.scale-questions-list__table-row
                    td.scale-questions-list__table-cell Тематическая часть
                    td.scale-questions-list__table-cell Тематическая часть. Подробное описание задания.
                    td.scale-questions-list__table-cell тест; автобус; справа;водитель; вопрос;
                    td.scale-questions-list__table-cell Примечение:отсувствует