.my-table {

  box-sizing: content-box;
  width: 100%;

  box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.75);

  padding: 10px;
  margin: 0 auto;

  tr {
    padding: 0 5px;

  }

  caption {
    padding: 20px 0 20px 0;

    font-weight: bold;
    text-align: left;
  }

  thead {
    tr {
      th {
        height: 50px;

        padding: 5px 5px;

        box-shadow: 1px 1px 10px 0 rgba(200, 200, 200, 0.59);
      }
    }
  }

  tbody {
    tr {
      &:hover {
        background-color: #CFD8DC;
      }

      &:active {
        background-color:#B0BEC5;
      }
      
      td {
        padding: 5px;

        text-align: center;

        &.left {
          text-align: left;
        }
        
        md-checkbox {
          margin-top: 8px;
          margin-bottom: 0;
        }

        md-select {
          margin-top: 0;
        }
      }
    }
  }
}