.page-container.page-container_margined
    .tabs__item
        md-input-container
            input(placeholder='Название')

        md-select(ng-model="size"  placeholder='Каталог')
            md-option(ng-value="1") 5-я Шкала
            md-option(ng-value="2") Аттестация
            md-option(ng-value="3") Практическая часть
            md-option(ng-value="1") Тематическая часть
            md-option(ng-value="2") Теоретическая часть
            md-option(ng-value="3") ПФД
            md-option(ng-value="1") Самооценка
            md-option(ng-value="2") Произвольная память
            md-option(ng-value="1") 5-я Шкала
            md-option(ng-value="2") Аттестация
            md-option(ng-value="3") Практическая часть
            md-option(ng-value="1") Тематическая часть
            md-option(ng-value="2") Теоретическая часть
            md-option(ng-value="3") ПФД
            md-option(ng-value="1") Самооценка
            md-option(ng-value="2") Произвольная память

        md-select(ng-model="size"  placeholder='Файл')
            md-option(ng-value="1") 5-я Шкала
            md-option(ng-value="2") Аттестация
            md-option(ng-value="3") Практическая часть
            md-option(ng-value="1") Тематическая часть
            md-option(ng-value="2") Теоретическая часть
            md-option(ng-value="3") ПФД
            md-option(ng-value="1") Самооценка
            md-option(ng-value="2") Произвольная память
            md-option(ng-value="1") 5-я Шкала
            md-option(ng-value="2") Аттестация
            md-option(ng-value="3") Практическая часть
            md-option(ng-value="1") Тематическая часть
            md-option(ng-value="2") Теоретическая часть
            md-option(ng-value="3") ПФД
            md-option(ng-value="1") Самооценка
            md-option(ng-value="2") Произвольная память

        md-button.md-primary.md-raised(ng-click="close()") Фас
        md-button.md-primary.md-raised(ng-click="close()") Профиль
        md-button.md-primary.md-raised(ng-click="close()") 1/2 оборота

.tabs__item-buttons
    md-button.md-primary.md-raised.md-warn(ng-click="close()") Отменить
    md-button.md-primary.md-raised(ng-click="close()") Сохранить
